.code-area {
    -fx-background-color: #1e1e1e;
    -fx-font-size: 14px;
    -fx-highlight-fill: #264f78;
    -fx-highlight-text-fill: #ffffff;
    -fx-caret-color: white;
}

.default {
    -fx-font-family: "JetBrains Mono";
    -fx-font-size: 15px;
    -fx-fill: white;
}

.keyword {
    -fx-fill: #c586c0;
}

.function {
    -fx-fill: #dcdcaa;
}

.string {
    -fx-fill: #ce9178;
}

.variable {
    -fx-fill: #c586c0;
}

.comment {
    -fx-fill: #6a9955;
}

.paragraph-box:has-caret {
    -fx-background-color: #f2f9fc;
}
