.default {
    -fx-font-family: "JetBrains Mono";
    -fx-fill: white;
}

.keyword {
    -fx-fill: #e06c75;
}

.string_template {
    -fx-fill: #98c379;
}

.number {
    -fx-fill: #61afef;
}

.annotation {
    -fx-fill: #dcd664;
}

.function {
    -fx-fill: #d19a66;
}

.string {
    -fx-fill: #98c379;
}

.variable {
    -fx-fill: #c678dd;
}

.comment {
    -fx-fill: #5c6370;
}
